.animation-canvas {
    width: 100%;
    height: var(--animation-canvas-height);
    background: var(--color-canvas-bg);
    border-bottom: var(--border-width) solid var(--color-border);

    &.compact {
        height: var(--animation-canvas-compact);
    }
}
