.entity-item {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;

    .entity-item-name {
        flex-shrink: 0;
    }

    .entity-item-meta {
        display: inline-flex;
        align-items: center;
        gap: 4px;
        margin-left: auto;
    }
}

/** 触发条件标签 — 灰色 */
.trigger-condition {
    color: #666;
}
